asgiref==3.7.2 ; python_version >= "3.10" and python_version < "4.0"
black==24.2.0 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0"
cssbeautifier==1.15.1 ; python_version >= "3.10" and python_version < "4.0"
django-cors-headers==4.3.1 ; python_version >= "3.10" and python_version < "4.0"
django==4.2.11 ; python_version >= "3.10" and python_version < "4.0"
djangorestframework==3.14.0 ; python_version >= "3.10" and python_version < "4.0"
djlint==1.34.1 ; python_version >= "3.10" and python_version < "4.0"
editorconfig==0.12.4 ; python_version >= "3.10" and python_version < "4.0"
gunicorn==22.0.0 ; python_version >= "3.10" and python_version < "4.0"
html-tag-names==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
html-void-elements==0.1.0 ; python_version >= "3.10" and python_version < "4.0"
jsbeautifier==1.15.1 ; python_version >= "3.10" and python_version < "4.0"
json5==0.9.20 ; python_version >= "3.10" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.10" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.10" and python_version < "4.0"
platformdirs==4.2.0 ; python_version >= "3.10" and python_version < "4.0"
python-decouple==3.8 ; python_version >= "3.10" and python_version < "4.0"
pytz==2024.1 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
regex==2023.12.25 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
tqdm==4.66.2 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.10.0 ; python_version >= "3.10" and python_version < "3.11"
tzdata==2024.1 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
wait-for-it==2.2.2 ; python_version >= "3.10" and python_version < "4.0"
whitenoise==6.6.0 ; python_version >= "3.10" and python_version < "4.0"
